# Ignore Mac DS_Store files and other known temporary files
.DS_Store
.ndi
*.ndi
*.tmp
*.swp
*.asv
*.m~
__pycache__
mkdocs.yml
docs/reports/
docs/NDI-matlab/documents/
docs/NDI-matlab/reference/
docs/NDI-matlab/mkdocs-references.yml
docs/documentation_structure.mat
site/
releases/
